/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: white; 
	-fx-spacing: 10px;
	-fx-padding: 10px;
}
HBox{
	-fx-padding: 10px;
	-fx-spacing: 10px;
}
.text-field{
	-fx-font-size:30px ;
	-fx-font-weight: bold;
	
}